// ../layout/_footer.scss
// Footer styles



.footer {
	position: relative;
	width: 100%;
	background: $bg-footer;
	padding: 45px 0 55px 0;

	@include respond-to(extrasmall) {
		height: auto;
	}

	@include respond-to(small) {
		height: auto;
	}

	&__container {

		@include respond-to(extrasmall) {
			position: relative;
		}

		@include respond-to(small) {
			position: relative;
		}
	}

	&__content {

		@include respond-to(extrasmall) {
			padding: 40px 0 0 0;
		}

		@include respond-to(small) {
			padding: 40px 0 0 0;
		}
	}

	&__col {
		&.left {
			text-align: left;

			@include respond-to(extrasmall) {
				text-align: center;
			}

			@include respond-to(small) {
				text-align: center;
			}
		}
		&.center {
			text-align: center;

			@include respond-to(extrasmall) {
				text-align: center;
			}

			@include respond-to(small) {
				text-align: center;
			}
		}
		&.right {
			text-align: right;

			@include respond-to(extrasmall) {
				text-align: center;
			}

			@include respond-to(small) {
				text-align: center;
			}
		}
	}

	&__title {
		margin: 0;
		font-family: 'RelaweySemiBold', sans-serif;
		font-size: 0.6875rem;
		color: $white;
		line-height: (24/11);
		letter-spacing: 0.1em;
		text-transform: uppercase;

		@include respond-to(extrasmall) {
			margin: 30px 0 0 0;
		}

		@include respond-to(small) {
			margin: 30px 0 0 0;
		}

		@include selection();
	}

	&__email {
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.75rem;
		color: $text-footer-color;
		line-height: (26/13);
		transition: color 0.3s;

		&:hover {
			color: $accent-color;
		}

		@include selection();
	}

	&__tel {
		margin-top: -3px;
		font-family: 'Montserrat', sans-serif;
		font-size: 0.75rem;
		font-weight: 400;
		color: $text-footer-color;
		line-height: (26/13);

		@include selection();
	}

	.slash {
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.625rem;
		color: $accent-color;

		@include selection();
	}

	&__socials {
		display: inline-block;
		padding: 5px 0 0 0;
		font-family: 'RelaweyRegualr', sans-serif;
		font-size: 0.7rem;
		color: $text-footer-color;
		line-height: (21/12);
		letter-spacing: 0.075em;
		transition: color 0.3s;

		&:hover {
			color: $accent-color;
		}

		@include selection();
	}

	&__presentation-link {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.75rem;
		color: $text-footer-color;
		line-height: (24/13);

		@include selection();

		&:hover {
			.presentation-link__icon {
				@include link-arrow--hover();
			}
		}

		.presentation-link__icon {
			@include link-arrow($text-footer-color);
		}
	}

	&__adress {
		margin: 0;
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.75rem;
		color: $text-footer-color;
		line-height: (24/13);

		@include selection();
	}

	&__map-link {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		margin-top: -2px;
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.75rem;
		color: $text-footer-color;
		line-height: (24/13);

		@include respond-to(extrasmall) {
			justify-content: center;
		}

		@include respond-to(small) {
			justify-content: center;
		}

		@include selection();

		&:hover {
			.map-link__icon {
				@include link-arrow--hover();
			}
		}

		.map-link__icon {
			@include link-arrow($text-footer-color);
		}
	}

	&__devide-line {
		content: '';
		display: block;
		margin: 40px 0 30px 0;
		width: 100%;
		height: 1px;
		background: rgba(255, 255, 255, 0.08);
		border: none;
		font-size: 1px;
	}

	&__copyright {
		margin: -6px 0 0 0;
		font-family: 'RelaweyRegular', sans-serif;
		font-size: 0.6875rem;
		color: $text-footer-color;
		line-height: (24/11);
		// border-top: 1px solid rgba(255, 255, 255, 0.08);

		@include selection();

		@include respond-to(extrasmall) {
			text-align: center;
			line-height: (15/11);
		}

		@include respond-to(small) {
			text-align: center;
			line-height: (15/11);
		}
	}

	&__logo {
		display: block;
		margin: auto;
		width: 70px;
		height: 13px;
		fill: #acacac;

		@include respond-to(extrasmall) {
			margin: 30px auto 0 auto;
		}

		@include respond-to(small) {
			margin: 30px auto 0 auto;
		}
	}

	&__arrow-up {
		box-sizing: border-box;
		display: block;
		width: 18px;
		height: 19px;
		padding: 5px;
		fill: #acacac;
		float: right;

		@include respond-to(extrasmall) {
			display: none;
		}

		@include respond-to(small) {
			display: none;
		}
	}
}