// ../components/_animations.scss
// All animations



.animation__block {
	overflow: hidden;

	// @include respond-to(extrasmall) {
	// 	overflow: auto;
	// }

	&.animated {
		.animation__element {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}

.animated {
	.animation__block {
		.animation__element {
			opacity: 1;
			transform: translate3d(0, 0, 0);
		}
	}
}

.animation__element {
	opacity: 0;
	transform: translate3d(0, 150px, 0);
	transition: transform 1.3s cubic-bezier(0.215, 0.61, 0.355, 1), 
				opacity 1.3s cubic-bezier(0.215, 0.61, 0.355, 1);

	@include respond-to(extrasmall) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	@include respond-to(small) {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}



// Second animations styles
.anim__block {

	.anim__wrapper {

		&.fadeUp {
			overflow: hidden;
		}

		&.fadeIn {
			
		}

		.anim__element {
			opacity: 0;
			transform: translate3d(0, 150px, 0);
			transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1), 
				opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1);

			@include respond-to(extrasmall) {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}

			@include respond-to(small) {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}

	}

	&.animated {
		.anim__wrapper {
			.anim__element {
				opacity: 1;
				transform: translate3d(0, 0, 0);
			}
		}
	}
}