// ../components/components/_borders.scss
// Border panels



.border-panel--top, .border-panel--right,
.border-panel--bottom, .border-panel--left {
	background: $white;
	z-index: 99999;
	transition: all 0.2s;
}

.border-panel--top {
	position: fixed;
	top: 0;
	width: 100%;
	// height: 54px;
	height: 3.375rem;

	@include respond-to(extrasmall) {
		height: 54px;
	}
}

.border-panel--right {
	position: fixed;
	right: 0;
	// width: 30px;
	width: 1.875rem;
	height: 100%;

	@include respond-to(extrasmall) {
		width: 0;
	}
}

.border-panel--bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	// height: 30px;
	height: 1.875rem;

	@include respond-to(extrasmall) {
		height: 0;
	}
}

.border-panel--left {
	position: fixed;
	top: 0;
	// width: 30px;
	width: 1.875rem;
	height: 100%;

	@include respond-to(extrasmall) {
		width: 0;
	}
}