<!-- Menu -->
<div class="menu">
	<div class="menu__substrate"></div>
	<div class="menu__content">
		<div class="container menu-container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
					<ul class="nav">
						<li class="nav__item">
							<a href="index.html" class="nav__item__link">ГЛАВНАЯ</a>
						</li>
						<li class="nav__item">
							<a href="about.html" class="nav__item__link">ОБ АГЕНТСТВЕ</a>
						</li>
						<li class="nav__item">
							<a href="services.html" data-type="page-transition" class="nav__item__link link-transition">УСЛУГИ</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__item__link">ПОРТФОЛИО</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__item__link">ВАКАНСИИ</a>
						</li>
						<li class="nav__item">
							<a href="#" class="nav__item__link">КОНТАКТЫ</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
					<div class="overflow-block">
						<a href="#" class="menu__presentation-link">СМОТРЕТЬ ПРЕЗЕНТАЦИЮ
							<span class="presentation-link__icon"></span>
						</a>
					</div>
					<div class="overflow-block">
						<a href="mailto:contact@spaced.by" class="menu__email">contact@spaced.by</a>
					</div>
					<div class="overflow-block">
						<p class="menu__agency__info">ООО «Спэйсд Диджитал»</p>
					</div>
					<div class="overflow-block">
						<p class="menu__agency__address">Минск, ул. Ленина 9, оф. 3А</p>
					</div>
					<div class="overflow-block">
						<a href="tel:+375173272156" class="menu__agency__tel">8 (017) 327 21 56</a>
						<span class="slash">/</span>
						<a href="tel:+375296414860" class="menu__agency__tel">8 (029) 641 48 60</a>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12 menu__social-block">
			<div class="overflow-block">
				<a class="menu__social-block__link" href="https://www.google.by" targer="_blank">VK</a>
				<span class="slash"> / </span>
				<a class="menu__social-block__link" href="https://www.google.by" targer="_blank">FACEBOOK</a>
				<span class="slash"> / </span>
				<a class="menu__social-block__link" href="https://www.google.by" targer="_blank">INSTAGRAM</a>
				<span class="slash"> / </span>
				<a class="menu__social-block__link" href="https://www.google.by" targer="_blank">BEHANCE</a>
			</div>
		</div>
	</div>
</div>
<!-- /Menu