//  Spaced website Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Colors
//   2. Sizes
//   3. Typography
//   4. Block Grid



// 1. Colors
$accent-color: #7d6ade;

$white: #fff;
$white-dark: #ddd9ef;
$yellow: #f9d947;
$dark-grey: #6a6a6a;
$light-grey: #7d8485;
$pink-light: #f69de8;

$block-bg-grey: #faf8ff;
$bg-footer: #191919;
$menu-bg: #fff;

$btn-gradient-start: #e2aaf4;
$btn-gradient-end: #f69de8;

$bg--light-grey: #fcfcfc;

$scrollbar-track-piece: #f9f9f9;

// 2. Sizes



// 3. Typography
$base-font-size: 16px;


$text-primary-color: #383838;
$text-secondary-color: #353535;
$text-third-color: #6a6a6a;

$text-footer-color: #dfdfdf;
$text-menu-primary-color: #191919;

$select--color: #fff;


// 4. Block Grid
$break-small: 768px;
$break-medium: 992px;
$break-large: 1200px;
$break-extralarge: 1640px;
$container-small: 750px;
$container-medium: 970px;
$container-large: 1170px;
$container-extralarge: 1600px;