// All linked fonts

// Raleway Regular
@font-face{
	font-family: 'RelaweyRegular';
    src: url('../fonts/RalewayRegular.eot') format('eot'),
    	url('../fonts/RalewayRegular.woff2') format('woff2'),
	    url('../fonts/RalewayRegular.woff') format('woff');
}

// Raleway Medium
@font-face{
	font-family: 'RelaweyMedium';
    src: url('../fonts/RalewayMedium.eot') format('eot'),
    	url('../fonts/RalewayMedium.woff2') format('woff2'),
	    url('../fonts/RalewayMedium.woff') format('woff');
}

// Raleway SemiBold
@font-face{
	font-family: 'RelaweySemiBold';
    src: url('../fonts/RalewaySemiBold.eot') format('eot'),
    	url('../fonts/RalewaySemiBold.woff2') format('woff2'),
	    url('../fonts/RalewaySemiBold.woff') format('woff');
}

// Raleway Bold
@font-face{
	font-family: 'RelaweyBold';
    src: url('../fonts/RalewayBold.eot') format('eot'),
    	url('../fonts/RalewayBold.woff2') format('woff2'),
	    url('../fonts/RalewayBold.woff') format('woff');
}

// Raleway ExtraBold
@font-face{
	font-family: 'RelaweyExtraBold';
    src: url('../fonts/RalewayExtraBold.eot') format('eot'),
    	url('../fonts/RalewayExtraBold.woff2') format('woff2'),
	    url('../fonts/RalewayExtraBold.woff') format('woff');
}